<nav class="navbar navbar-light bg-faded">
  <%=link_to 'SARA REDFERN WIKI',root_path,class:"navbar-brand"%>
  <ul class="nav navbar-nav pull-xs-right">
    <li class="nav-item">
      <%=link_to "login",new_user_session_path,class:"nav-link"%>
    </li>
    <li class="nav-item">
     <%= link_to "signup",
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
  </ul>

</nav>
